<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="section">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="box" style="padding: 2.5rem;">
                <div style="text-align: center;">
                    <h3 class="title is-3" style="margin-bottom: 2rem;">
                        <span class="content">Log In</span>
                    </h3>
                </div>
                <form>
                    <div class="field">
                        <div>
                            <div class="control">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:'Email' %>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div>
                            <div class="control">
                              <%= f.password_field :password, autofocus: true, autocomplete: "password", class:"input", placeholder:"Password"%>
                            </div>
                        </div>
                    </div>
                        <%= f.submit "Log in", class:"button is-primary", style:"font-weight: bold; width: 100%; margin-top: 1.25rem;" %>
                </form>
                <div class="other-links">
                    <p>
                    <%= render "devise/shared/links" %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<% end %>